header {
    width: 100%;
    margin: 25px;
    padding: 10px;
    border: 2px black solid;

    margin-left: auto;
    margin-right: auto;
}

nav {

    box-sizing: border-box;
    width: 25%;
    margin: 25px;
    padding: 10px;
    border: 2px black solid;

    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
    float: left;
}

section {
    width: 70%;
    margin: 5px;
    padding: 10px;

    border: 2px black solid;
    border-radius: 10px;

    float: left;
}

img {
    margin-left: auto;
    margin-right: auto;
}

aside {
    width: 25%;
    margin: 5px;
    padding: 1px;

    border: 2px black dotted;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;


    float: right;
}

footer {
    width: 100%;
    position: absolute;
}

.sections{
    width:50%;
}
.form {
    width: 70%;
    margin: 5px;
    padding: 10px;
    border: 2px black solid;

    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;

}


.topnav {
    background-color: #333;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: rgba(0, 0, 0, 0.253);
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #aa04a2;
    color: white;
}

.logo {
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 20000;
}

.photo {
    width: 75%;
}

.images{
    width:25%;
    margin: 5px;
    padding: 10px;
   

    border: 2px black dotted;
    border-radius: 10px;
}