body {
    background-color: blanchedalmond;
}

aside{
    text-align: center;
    ruby-align: center;
}

table {
    text-align: center;
    border: 1px solid black;
    width: 75%;
}

th,
td {
    text-align: center;
    border: 1px solid black;
}

header {
    background-color: white;
    text-align: center;
}

h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black;
    font-weight: bold;
}

h2,
h3 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black;
    font-weight: bold;
    font-style: italic;
}

h4,
h5,
h6 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black;
    font-weight: normal;
}

p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black;
    font-weight: normal;
}

.quote {
    color: maroon;
    font-style: italic;
}

.quote:before {
    content: open-quote;
}

.quote:after {
    content: open-quote;
}

.bold {
    font-weight: bold;
    font-style: italic;
}

